*.bin
*.elf
*.o
*.map
*.hex
*.srec
*.list
*.d
*.pyc
.gdbinit

# Eclipse
*.pydevproject
.project
.cproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.DS_Store
.tags*
*.sublime-workspace
